.button,
button {
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-size: $fontSize--base;
	height: 50px;
	line-height: 50px;
	font-family: $fontFamily--base;

	&--plain {
		border: none;
		background-color: transparent;
		
		svg {
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
		    right: -10px;
		    transform: translate(0%, -50%);
		    transition: $transition--base;
		}

		&:hover {
			svg {
		    	transform: translate(0, -50%);
			}
		}
	}

	&--solid {
		color: $white;
		background-color: $black;
		border-radius: $radius--base;
	    padding: 0 53px;
	    height: 43px;
	    line-height: 43px;
	    transition: $transition--base;
		
		&:hover {
			background-color: lighten($black, 10%);
			transition: $transition--base;
		}
	}

	&.button--review {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $black;
		color: $white;
		transition: $transition--base;
		border: none;
		display: flex;
	    justify-content: center;
	    align-items: center;
		
		svg {
			width: 22px;
			height: 22px;
		}

		&:hover {
			background-color: lighten($black, 10%);
			transition: $transition--base;
		}
	}
}