body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4;
}

h1 {
	font-size: $fontSize--xxxLarge;
}

h2 {
	font-size: $fontSize--xxLarge;
}

h3 {
	font-size: $fontSize--xLarge;
}

h4 {
	font-size: $fontSize--large;
}

p {
	font-size: $fontSize--base;
}