// PAGE: Homepage Specific Styles
// These styles are "one-off" for the homepage, and not used anywhere else

.info-cards {
	margin: $margin--xxxxLarge 0;
	display: flex;
	justify-content: center;
}

.feature-blocks {
	display: flex;
	flex-wrap: wrap;
	padding: 0 $gutter--large;
	margin-bottom: $margin--xxxxLarge;
	width: 100%;

	@media only screen and (max-width: 1023px) {
		padding: 0 $gutter--small;
		margin-bottom: $margin--xxLarge;;
	}
}

.featured-product {
	display: flex;
	max-height: 80vh;
	margin-bottom: $margin--xxxxLarge;

	@media only screen and (max-width: 1023px) {
	 	margin-bottom: $margin--xxLarge;
	 	flex-direction: column-reverse;
	 	max-height: initial;
	}
	.hero {
		flex-basis: 50%;
	}
}

.reviews {
	width: 100%;
	height: 100%;
	margin: $margin--xxxxLarge 0;

	@media only screen and (max-width: 1023px) {
	 	margin: $margin--xxLarge 0;
	}
}

.instagram {
	padding: 0 $gutter--large;
	// margin-bottom: $margin--xxxxLarge;

	@media only screen and (max-width: 1023px) {
	 	padding: 0 $gutter--small;
	}
}

.cares {
	clear: both;
	padding: $margin--xxxxLarge 0;
	background-color: $grey--xxxLight;	
	text-align: center;
	border-top: 100px solid $white;

	@media only screen and (max-width: 1023px) {
		border-top: 20px solid $white;
	 	padding: $margin--xxLarge;;
	}

	.section-title {
		font-size: $fontSize--xxxLarge;
		margin-bottom: $margin--base;
	}
	
	.section-description {
		color: $grey--xDark
	}

	.section-text-block {
		text-align: center;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}

	.info-cards {
		margin: 20px 0;
	}
}

